[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pydantic = {extras = ["email"], version = "*"}
pyhamcrest = "*"

[dev-packages]

[requires]
python_version = "3.9"
